<?xml version="1.0"?>
<robot name="slam_project" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find slam_project)/urdf/material.xacro" />
    <xacro:include filename="$(find slam_project)/urdf/robot.gazebo" />
    <xacro:include filename="$(find slam_project)/urdf/robot.xacro" />
  
</robot>